@import "tailwindcss";
body{
  margin:0 auto;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
/* headerStyle */
.blue-btn {
  @apply hidden  md:flex bg-blue-500 py-2 px-6 rounded-[7px] text-white hover:bg-blue-600 font-bold ml-7 cursor-pointer lg:text-xl lg:px-15 lg:py-6;
}
.nav {
  @apply hover:text-blue-500 w-fit p-1 rounded-[8px];
}
.logo {
  @apply font-bold text-xl md:text-3xl md:pr-5 text-start pl-33 py-5 bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent cursor-pointer lg:text-4xl;
}

/* hero style */
@layer components {
  .btn1 {
    @apply bg-white py-3 px-6 mx-2 text-blue-600 font-bold rounded-xl cursor-pointer mb-5 hover:-translate-y-1 hover:shadow-lg hover:shadow-white transition-all duration-500 lg:py-7 lg:px-10;
  }
  .btn2 {
    @apply bg-transparent py-3 px-6 mx-2 text-white font-bold rounded-xl cursor-pointer border-2 mb-5 hover:bg-white hover:text-blue-600 transition-all duration-500 hover:border-white lg:py-7 lg:px-10;
  }
}

@layer utilities {
  @keyframes my-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* how high it bounces */
    }
  }

  .animate-my-bounce {
    animation: my-bounce 5s infinite;
  }
}

.cards {
  @apply grid gap-5 grid-cols-1 md:grid-cols-3 md:gap-10 items-center lg:px-50 md:px-0;
}
.hero-card {
  @apply p-5 items-center border border-gray-400 rounded-2xl bg-gray-500/10 shadow-2xl hover:-translate-y-1 hover:shadow-lg  hover:shadow-gray-400 hover:duration-500 hover:border-gray-300;
}

/* hero style */
.service-icon {
  @apply text-5xl lg:pb-10 block lg:text-7xl pl-5;
}
.service-card {
  @apply py-15 px-15 bg-white  border border-gray-300 shadow-2xl rounded-2xl hover:-translate-y-3 hover:duration-400 hover:shadow-2xl hover:shadow-gray-500;
}
.card-list {
  @apply list-disc  list-inside text-gray-500 text-sm lg:text-xl py-10;
}
